<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
  <!-- <script src="https://unpkg.com/vue@2.6.8/dist/vue.js"></script> -->
  <script src="./js/vue_com.js"></script>
</head>
<body>
<div id="app">
  {{ message1 }}
</div>
<div id="app-2">
  <span v-bind:title="message">
    내 위에 잠시 마우스를 올리면 동적으로 바인딩 된 title을 볼 수 있습니다!
  </span>
</div>
<div id="app-3">
  <p v-if="seen">이제 나를 볼 수 있어요</p>
</div>
<div id="app-4">
  <ol>
    <li v-for="todo in todos">
      {{ todo.text }}
    </li>
  </ol>
</div>
<div id="app-5">
  <p>{{ message }}</p>
  <button v-on:click="reverseMessage">메시지 뒤집기</button>
</div>
<div id="app-6">
  <p>{{ message }}</p>
  <input v-model="message">
</div>
<div id="app-7">
  <ol>
    <!-- 이제 각 todo-item에 todp 객체 제공
    동적으로 바뀔 수 있음
    각 구성요소에 "키" 제공 -->
    <!-- todo-item 컴포넌트의 인스턴스 -->
    <todo-item
      v-for="item in groceryList"
      v-bind:todo="item"
      v-bind:key="item.id">
    </todo-item>
  </ol>
</div>
<script src="./js/vue.js"></script>
<script src="./js/vue1.js"></script>
</body>
</html>
